 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Register</title>

<title>Register New User</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="#">
	<!-- Reference Bootstrap files -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style>
		.error {color:red}
		
		.cascading-right {
     		 margin-right: -50px;
    	}

    	@media (max-width: 991.98px) {
      		.cascading-right {
       		 margin-right: 0;
      		}
    	}
		#image-preview {
			margin-top: 1.5em;
		}

	</style>

</head>

<body>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
 
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Sign up</h2>
              
              <div class="message" ><p id="message"></p></div>

              <!-- Form -->
              <form th:action="@{/register/processRegistrationForm}" 
						  	   th:object="${crmUser}" method="POST"
						  	   class="form-horizontal" enctype="multipart/form-data">
              
                  <!-- Validation -->
                   <div class="col-xs-15">
                      <div>
                                  
                          <!-- Check for registration error -->
                                     
                           <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                               <span th:text="${registrationError}"></span>
                           </div>																	
                       </div>
                  </div>
                  
            
                <div class="row">
                    
                  <!--  First name input -->
                  
	                  <div class="col-md-6 mb-4">
	                    <div class="form-outline">
	                        <input type="text" th:field="*{firstName}" placeholder="First name (*)" id="form3Example1" class="form-control" th:errorclass="fieldError" />
	                        <label class="form-label" for="form3Example1">First name</label>
	                        
	                        <div th:if="${#fields.hasErrors('firstName')}"
								 class="text-danger">
								  <p th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />										
				  	  		</div>
	                    </div>
	                  </div>
                  
                  <!-- Last name input -->
                  
	                  <div class="col-md-6 mb-4">
	                    <input type="text" th:field="*{lastName}" placeholder="Last name (*)" id="form3Example1" class="form-control" th:errorclass="fieldError" />
	                      <label class="form-label" for="form3Example1">Last name</label>
	                      
	                      <div th:if="${#fields.hasErrors('lastName')}"
								 class="text-danger">
								  <p th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />								
						 </div>
	                  </div>
                   
                </div>

              
  	
                <!-- Username input -->
	                <div class="form-outline mb-4">
	                    <div class="form-outline">
	                      <input type="text" th:field="*{userName}" placeholder="Username (*)" id="form3Example1" class="form-control" />
	                      <label class="form-label" for="form3Example1">Username</label>
	                      <div th:if="${#fields.hasErrors('userName')}"
								class="text-danger">
							<p th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}"/>					
					  </div>
	                    </div>
	                  </div>
	                
                
                

                <div class="row">
  				
	                <!-- Password input -->
	                <div class="col-md-6 mb-4">
	                    <input type="password" th:field="*{password}" placeholder="Password (*)" id="pass" class="form-control" th:errorclass="fieldError" />
	                      <label class="form-label" for="form3Example1">Password</label>
	                      
	                      <div th:if="${#fields.hasErrors('password')}"
								 class="text-danger">
								
								  <p th:each="err : ${#fields.errors('password')}" th:text="${err}" />
														
						  </div>
	                </div>

                
  
                <!-- Matching password input -->
	                <div class="col-md-6 mb-4">
	                    <input  type="password" th:field="*{matchingPassword}" placeholder="Confirm password (*)" id="repass" class="form-control" th:errorclass="fieldError" />
	                      <label class="form-label" for="form3Example1">Repeat Password</label>
	                      
	                      <div th:if="${#fields.hasErrors('matchingPassword')}"
								 class="text-danger">
								  <p th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}" />					
						  </div>
	                </div>
		
					</div>
                

                <!-- Email input-->
	                <div class="form-outline mb-4">
	                    <input type="text" th:field="*{email}" placeholder="Email (*)"  id="form3Example1" class="form-control" th:errorclass="fieldError" />
	                      <label class="form-label" for="form3Example1">Email</label>
	                      
	                      <div th:if="${#fields.hasErrors('email')}"
								 class="text-danger">
								  <p th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />						
						  </div>
	                </div>

                


                <!-- Role selection-->
                <select th:field="*{formRole}" class="form-control">
                    <option th:each="role : ${roles}" th:value="${role.key}" th:text="${role.value}">
                </select>

				<!-- Image selection -->
				<div id="image-preview">
					Choose a profile picture: <br> <input class="mb-4" type="file" name="fileImage" id="attachment" accept="image/png, image/jpeg"/>
					<img id="thumbnail" style="width: 50px; height: 50px;">
				</div>
                
                <br><br>

                <!-- Submit button -->
                <button  type="submit" class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>
  
              </form>
              Already have an account? <a th:href="@{/showLoginPage}">Sign in</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>

<script th:inline="javascript">

	// Passwords match validation

	const pass1 = document.getElementById('pass')
	const pass2 = document.getElementById('repass')

	let password, re_password;
	
	pass1.addEventListener('input', () => {
		password = pass1.value
		password === re_password ? (
		pass1.style.backgroundColor = 'rgba(32,178,170,0.4)',
		pass2.style.backgroundColor = 'rgba(32,178,170,0.4)')
		:
		(pass1.style.backgroundColor = 'rgba(255,69,0,0.3)',
		pass2.style.backgroundColor = 'rgba(255,69,0,0.3)' )
	})
	
	pass2.addEventListener('input', () => {
		re_password = pass2.value
		password === re_password ? 
		(pass1.style.backgroundColor = 'rgba(32,178,170,0.4)',
		pass2.style.backgroundColor = 'rgba(32,178,170,0.4)')
		:
		(pass1.style.backgroundColor = 'rgba(255,69,0,0.3)',
		 pass2.style.backgroundColor = 'rgba(255,69,0,0.3)' )
	});

	document.querySelector("#attachment").addEventListener("change", function() {
		showImageThumbnail(this)
	});

	function showImageThumbnail(fileInput) {
		const file = fileInput.files[0];
		const reader = new FileReader();

		reader.onload = function(e) {
			$('#thumbnail').attr('src', e.target.result);
		};
		reader.readAsDataURL(file);

	}

	// VALIDATION
	function checkSize() {
		const fileInput = document.getElementById('attachment');
		const maxFileSize = 131072;
		const file = fileInput.files[0];


		if (file.size > maxFileSize) {
			alert('File is too large. Maximum file size is 128kb');
			return false;
		}

		return true;
	}
	
</script>

</body>
</html>